@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 94%;
  margin: 0 auto;
}

.header {
  height: 86px;
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
  justify-content: center;
}

.header__menu {
  display: flex;
  height: 50px;
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #cccc;
}

.header__menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu__left--list {
  display: flex;
}

.header__menu__left--list li:nth-child(2) {
  margin-right: 10px;
  color: #686868;
}

.header__menu__left--list .header__menu__left--item {
  text-decoration: none;
  color: #686868;
  margin-right: 10px;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

.header__menu__left--item--center {
  text-transform: uppercase;
  text-decoration: none;
  color: #686868;
  margin-right: 50px;
  font-size: 14px;
  font-family: "Gotham Book", sans-serif;
}

.header__menu__right {
  display: flex;
  align-items: center;
}

.header__menu__right .header__menu__right--search {
  width: 83px;
  margin-right: 50px;
  padding-left: 28px;
  line-height: 24px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
}

.header__menu__right .header__menu__right--search:focus {
  outline: none;
}

.header__menu__right .header__menu__right--bag {
  width: 27px;
  height: 24px;
  background-image: url("../images/bag.png");
}

.header__menu__right .header__menu__right--bag--qtd {
  font-family: "Gotham Book", sans-serif;
  font-size: 12px;
  color: #686868;
  margin-left: 1px;
}
